.link {
	position: relative;
}

.link:before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: -30px;
	right: -30px;
	z-index: -1;
}

.link .tagline:after {
	font-weight: 700;
	margin-left: 3px;
}

.link.linkflair-serious:before {
	border-left: 15px solid #8DC44E;
	border-right: 15px solid #8DC44E;
}

.link.linkflair-serious .tagline:after {
	content: "serious post";
	color: #8DC44E;
}

.link.gilded:before {
	border-left: 15px solid #FFE000;
	border-right: 15px solid #FFE000;
}

.link.gilded .tagline:after {
	content: "gilded post";
	color: #FFE000;
}

.link.over18:before {
	border-left: 15px solid #FF0000;
	border-right: 15px solid #FF0000;
}

.link.over18 .tagline:after {
	content: "nsfw post";
	color: #FF0000;
}

.link.own:before {
	border-left: 15px solid #FF0085;
	border-right: 15px solid #FF0085;
}

.link.own .tagline:after {
	content: "own post";
	color: #FF0085;
}

.link.upvoted:before {
	border-left: 15px solid #FF8F00;
}

.link.downvoted:before {
	border-left: 15px solid #0085FF;
}